:root {
    --bgColour: #121C40;
    --lossColour: #D64933;
    --winColour:#567568;
    --tieColour: #EDEBD7;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bgColour);
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4vh;
    width: 80vw;
    height: 70vh;    
}

.mainContainer .nav{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.resetButton{
    background-color: var(--tieColour);
    transition: 100ms ease-in-out;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
}

.resetButton:hover{
    background-color: #87867c;
    transition: 100ms ease-in-out;

}

.resetButtonLogo{
    height: 4rem;
}

.modalBG{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(0,0);
}

.modal{
  position: absolute;
  position: absolute;
  gap: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--tieColour);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 28rem;
  height: 6rem;
  border-radius: 12px;
  background-color: var(--bgColour);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); 
}

.insideText{
  color: var(--tieColour);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.board{
    height: 24rem;
    width: 24rem;
    background-color: var(--tieColour);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.gridItem{
  display: grid;
  justify-self: center;
  align-self: center;
  background-color: var(--tieColour);
  border-radius: 6px;
  width: 6.5rem;
  height: 6.5rem;
  transition: 100ms ease-in-out;
}

.gridItem:hover{
  background-color: #cfccb4;
  transition: 100ms ease-in-out;
}

.inGridItem{
  justify-self: center;
  align-self: center;
  width: 3.5rem;
}

.inContainerItem{
  justify-self: center;
  align-self: center;
  width: 3.5rem;
}

.turnIndicator{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 24px;
  padding: 24px;
  width: 20rem;
  height: 6rem;
  border: 2px solid var(--tieColour);
  border-radius: 12px;
  background-color: (var(--bgColour));
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); 
}


.hl1{
  position: absolute;
  translate: 2.5% 7.6rem ;
  width: 23rem;
  height: 12px;
  background-color: #121C40;
  border-radius: 6px;
}


.hl2{
  position: absolute;
  translate: 2.5% 15.6rem ;
  width: 23rem;
  height: 12px;
  background-color: #121C40;
  border-radius: 6px;
}

.vl1{
  position: absolute;
  translate: 7.6rem 2%;
  width: 12px;
  height: 23rem;
  background-color: #121C40;
  border-radius: 6px;
}


.vl2{
  position: absolute;
  translate:15.6rem 2%;
  width: 12px;
  height: 23rem;
  background-color: #121C40;
  border-radius: 6px;
}



/* css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }